{% extends 'base.html' %}

{% block title %}
Compliments
{% endblock %}

{% block content %}
    <div class="container header">
        <img src="images/profile.png" class="logo" alt="movie logo" height="90" width="270">
        <a href="#" class="header-btn"><i class="fa fa-user"></i>Account</a>
    </div>
    <div class="container movie-details">
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="images/poster.jpg" class="movie-poster" alt="IAMLEGEND">
            </div>
            <div class="col-md-6 right-item text-center">
                <h1>I AM LEGEND</h1>
                <p>
                This is a Will Smith story before the entanglement. <br> Will Smith career was bright and shining!
                </p>
                <p>CAST: </p>
                <div class="casting">
                    <img src="images/willsmith.jpg" alt="Will Smith" title="I AM LEGEND" width="40px" height="40px">
                    <img src="images/willsmith.jpg" alt="Will Smith" title="I AM LEGEND" width="40px" height="40px">
                    <img src="images/Willow-Smith.jpg" alt="Willow Smith" title="I AM LEGEND" width="40px" height="40px">
                    <img src="images/Willow-Smith.jpg" alt="Willow Smith" title="I AM LEGEND" width="40px" height="40px">
                    <img src="images/Willow-Smith.jpg" alt="Willow Smith" title="I AM LEGEND" width="40px" height="40px">
                </div>
                <a href="#" class="review-btn"><i class="fa fa-pencil"></i>Review </a>
                <a href="#" class="score-btn"><i class="fa fa-star"></i>Score</a>
            </div>
        </div>
    </div>
    <div class="container series">
        <h3>Popular Movies</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class=" col-6"><img src="images/1.jpg" alt=""></div>
                    <div class=" col-6"><img src="images/2.jpg" alt=""></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class=" col-6"><img src="images/3.jpg" alt=""></div>
                    <div class=" col-6"><img src="images/4.jpg" alt=""></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class=" col-6"><img src="images/1.jpg" alt=""></div>
                    <div class=" col-6"><img src="images/2.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}